fastapi==0.116.1
uvicorn==0.35.0
python-dotenv==1.1.1
dotenv==0.9.9
asyncpg==0.30.0
pydantic-settings==2.10.1
pydantic==2.11.7
SQLAlchemy==2.0.43
inflect==7.5.0
pydantic[email]
msgraph-sdk==1.45.0
azure-core==1.35.1
APScheduler==3.11.0
alembic==1.16.5
redis==6.4.0
starlette==0.47.3
pgvector==0.4.1
pandas==2.3.3
openpyxl==3.1.5
psycopg2-binary==2.9.11
aiohttp==3.12.15